body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* Or flex-grow: 1;*/
  }


.imgsent{
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5ex;
    margin-bottom: 5ex;
}
.neutral{
    color:orange;
}
.negative{
    color:red;
}
.positive{
    color:green;
}
.lg1{
    width: 32px;
    height: 32px;
}

.apiimg{
    resize: 40%; 
}