{% extends "base.html" %}

{% block head %}
  <title>API Documentation</title>

{% endblock %}
{% block content %}
<section class="text-gray-600 body-font">

  <div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">API Documentation</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The Tweet Analyser API returns sentiment class of a given tweet. Expected resutls are 'Natural','Positive', or 'Negative'. To use this API, please follow the below instructions. 
    </div>
    
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">GET CLASS</h2>
          <p class="leading-relaxed text-base">To get the sentiment class of a tweet, a POST call to the following url can be used:
https://flasktwitter.herokuapp.com/analyse/</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center" href='https://flasktwitter.herokuapp.com/analyse/'>URL
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">QUERY PARAMETERS</h2>
          <p class="leading-relaxed text-base"><B>Field:</b> tweet</p>
          <p class="leading-relaxed text-base"><B>Type:</b> string</p>
          <p class="leading-relaxed text-base"><B>Description:</b> a sample tweet or free text</p>
  
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
       
        <p class="leading-relaxed text-base"><B>Example:</b></p><a href='https://flasktwitter.herokuapp.com/analyse/tweet=profit decrease'>https://flasktwitter.herokuapp.com/analyse/tweet=profit decrease</a>
      </div>

      <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">RESPONSE PARAMETERS</h2>
          <p class="leading-relaxed text-base"><B>key:</b> "results"</p>
          <p class="leading-relaxed text-base"><B>values:</b> "neutral" or "positive" or "negative"</p>
  
        </div>

    </div>


    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">

    
    <div class="flex-grow">
    <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
          
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Example Return</h2>
          <p class="leading-relaxed text-base">Below is an example of successful API call.</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">
          </a>
        </div>

      <img alt="feature" class="object-cover object-center h-full w-full apiimg" src="./static/api.png">
    </div>
  </div>
</section>
  
{% endblock %}