<!doctype html>
<html>
<head>
    {% block head %}{% endblock %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./static/tailwind.min.css" rel="stylesheet">
  <link href='./static/custom.css' rel='stylesheet'>
  <!-- ... -->
</head>
    <body class="flex flex-col min-h-screen ">
        <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
            <a class="mr-5 hover:text-gray-900" href='/'>Home</a>
            <a class="mr-5 hover:text-gray-900" href='/api'>API Details</a>
            
            </nav>
            <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 " href='/'>
            <span class="ml-3 text-xl">Tweet</span> <span></span>
            <span class="ml-3 text-xl">
                <img class='lg1' src='./static/comm.png'></img>
            </span> <span></span>

            <span class="ml-3 text-xl">Analyser</span>
            </a>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                <a class="hover:text-gray-900" href="https://www.linkedin.com/in/anwarasif/">About Me</a>
            </div>
        </div>
        </header>
        <main class="flex-grow">
            {% block content %}{% endblock %}
        </main>
        <footer class="text-gray-600 body-font">

            <div class="bg-gray-100">
                <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 Tweet Analyser —
                    <a href="https://twitter.com/tamal2000" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@tamal2000</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    
                    <a class="ml-3 text-gray-500" href='https://www.linkedin.com/in/anwarasif/'>
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                    </a>
                </span>
                </div>
            </div>
            </footer>
    </body>
    <body class='flex flex-col min-h-screen '> 
          
    </body>
</html>
